#container-memotest{

    width: 100%;
    height: 100%;
    

}

.pieza{
    width: 100px;
    height: 100px;
}


.background-pieza{
  background-image: url('imgs/pieza-abz.jpg');
  background-position: center;
  background-size: cover;
}
